{% from "macros.html" import render_field, render_errors, render_value_and_errors, render_description, widget_in_panel %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Vedecko-pedagogická charakteristika fyzickej osoby</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('deform.static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('deform.static', filename='css/typeahead.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('deform.static', filename='css/beautify.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('deform.static', filename='css/form.css') }}" />
    <script type="text/javascript" src="{{ url_for('deform.static', filename='scripts/jquery-2.0.3.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('deform.static', filename='scripts/jquery-form-3.09.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('deform.static', filename='scripts/jquery-sortable.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('deform.static', filename='scripts/jquery-maskedinput-1.3.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='deform.js') }}"></script>
    <style type="text/css">
      .main-content {
        width: 50em;
        margin: 0 auto;
      }
      .user-panel {
        text-align: right;
        margin-top: 0.5em;
      }
    </style>
  </head>
  <body><div class="main-content">
    {% if user %}
    <div class="user-panel">
    {{ user }} - <a href="{{ url_for('logout') }}">Odhlásiť</a>
    </div>
    {% endif %}
    <h1>Vedecko-pedagogická charakteristika fyzickej osoby</h1>
    <p>Tento formulár slúži na zozbieranie údajov pre potreby komplexnej akreditácie
       a je zhotovený podľa <a href="http://www.zakonypreludi.sk/file/data/2013c100z427p07.pdf">prílohy č. 7</a> <a href="http://www.zakonypreludi.sk/zz/2003-104/znenie-20140101">nariadenia vlády č. 104/2003 Z.z. o akreditačnej komisii v znení novely 427/2013 Z.z.</a></p>
    <p>Dáta vo formulári sa vypĺňajú tak, aby údaje zodpovedali ku dňu 31.12.2013</p>
    <form id="{{ form.formid }}" method="{{ form.method }}" enctype="multipart/form-data" accept-charset="utf-8">
      <input type="hidden" name="_charset_" />
      <input type="hidden" name="__formid))" value="{{ form.formid }}" />

      {% if form.error %}
      <div class="alert alert-danger">
        <div class="errorMsgLbl">Formulár sa nepodarilo zvalidovať. Prosím skontrolujte vyplnené údaje.</div>
        <p class="errorMsg">{{ form.errormsg or '' }}</p>
      </div>
      {% endif %}
      
      <h2>Základné údaje</h2>
      {{ render_field(form.titul_pred) }}
      {{ render_field(form.priezvisko) }}
      {{ render_field(form.meno) }}
      {{ render_field(form.titul_za) }}
      {{ render_field(form.rok_narodenia) }}
      {{ render_field(form.pracovisko) }}
      {{ render_field(form.email) }}

      <h2>Informácie o vysokoškolskom vzdelaní a ďaľšom kvalifikačnom raste</h2>
      {{ form.vzd_druhy.render()|safe }}
      {{ form.vzd_treti.render()|safe }}
      {{ form.vzd_docent.render()|safe }}
      {{ form.vzd_profesor.render()|safe }}
      {{ form.vzd_doktor_vied.render()|safe }}
      {{ form.vzd_dalsie.render()|safe }}

      <h2>Zabezpečované činnosti</h2>
      <div class="panel panel-default">
        <div class="panel-heading">Prehľad o vedených záverečných prácach, ktoré boli obhájené</div>
        <div class="panel-body">
          <p class="help-block">Uvádza sa počet záverečných prác, ktoré boli vedené z pozície školiteľa a ktoré boli úspešne obhájené.</p>
          {{ render_field(form.veduci_bakalarske) }}
          {{ render_field(form.veduci_diplomove) }}
          {{ render_field(form.veduci_dizertacne) }}
        </div>
      </div>
      
      
      {{ form.akt_pedag_cinnost.render()|safe }}
      {{ form.predch_pedag_cinnost.render()|safe }}
      {{ form.tvoriva_cinnost.render()|safe }}

      <h2>Profil kvality tvorivej činnosti</h2>
      
      <div class="panel panel-default">
        <div class="panel-heading">Prehľad výstupov</div>
        <div class="panel-body">
          <p class="help-block">Rok sa posudzuje v závislosti od roku vydania, ak ide o ohlasy posudzuje sa od roku vydania publikácie, ktorá je ohlasom na výstup, ak ide o projekty posudzuje sa v závislosti od roku, v ktorom sa začal projekt uskutočňovať.</p>
          {{ render_field(form.vystup_wos_scopus) }}
          {{ render_field(form.vystup_a) }}
          {{ render_field(form.vystup_b) }}
          {{ render_field(form.vystup_citacie) }}
          {{ render_field(form.vystup_projekty) }}
          {{ render_field(form.vystup_prednasky_medzinarodne) }}
          {{ render_field(form.vystup_prednasky_narodne) }}
        </div>
      </div>

      {{ form.najv_prace_celkom.render()|safe }}
      {{ form.najv_prace_za_poslednych_6_rokov.render()|safe }}
      {{ form.najv_projekty_za_poslednych_6_rokov.render()|safe }}
      {{ form.vystupy_s_ohlasmi.render()|safe }}

      {{ widget_in_panel(form.funkcie) }}
      
      <h2>Doplňujúce informácie</h2>

      {{ widget_in_panel(form.dopln_program) }}
      {{ widget_in_panel(form.dopln_dalsie) }}
      
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Uložiť</button>
      </div>
      
    </form>
  </div></body>
</html>
