{% from "macros.html" import render_field, render_errors, render_value_and_errors, render_description, widget_in_panel %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Vedecko-pedagogická charakteristika fyzickej osoby</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('deform.static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('deform.static', filename='css/typeahead.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('deform.static', filename='css/beautify.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('deform.static', filename='css/form.css') }}" />
    <script type="text/javascript" src="{{ url_for('deform.static', filename='scripts/jquery-2.0.3.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('deform.static', filename='scripts/jquery-form-3.09.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('deform.static', filename='scripts/jquery-sortable.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('deform.static', filename='scripts/jquery-maskedinput-1.3.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('deform.static', filename='scripts/deform.js') }}"></script>
    <style type="text/css">
      .main-content {
        width: 50em;
        margin: 0 auto;
      }
    </style>
  </head>
  <body><div class="main-content">
    <h1>Vedecko-pedagogická charakteristika fyzickej osoby</h1>
    <p>Tento formulár slúži na zozbieranie údajov pre potreby komplexnej akreditácie
       a je zhotovený podľa <a href="http://www.zakonypreludi.sk/file/data/2013c100z427p07.pdf">prílohy č. 7</a> <a href="http://www.zakonypreludi.sk/zz/2003-104/znenie-20140101">nariadenia vlády č. 104/2003 Z.z. o akreditačnej komisii v znení novely 427/2013 Z.z.</a></p>
    <p>Na zobrazenie formuláru sa musíte prihlásiť</p>
    <div class="form-group">
      <a class="btn btn-primary" href="{{ url_for('login') }}">Prihlásiť</a>
    </div>
  </div></body>
</html>
