{% extends 'layout.html' %}
{% block content %}
  <h1>Vedecko-pedagogická charakteristika fyzickej osoby</h1>
  <p>Tento formulár slúži na zozbieranie údajov pre potreby komplexnej akreditácie
      a je zhotovený podľa <a href="http://www.zakonypreludi.sk/file/data/2013c100z427p07.pdf">prílohy č. 7</a> <a href="http://www.zakonypreludi.sk/zz/2003-104/znenie-20140101">nariadenia vlády č. 104/2003 Z.z. o akreditačnej komisii v znení novely 427/2013 Z.z.</a></p>
  <p>Na zobrazenie formuláru sa musíte prihlásiť</p>
  <div class="form-group">
    <a class="btn btn-primary" href="{{ url_for('login', next=next) }}">Prihlásiť</a>
  </div>
{% endblock %}
