{% extends 'layout.html' %}
{% block title %}Vedecko-pedagogické charakteristiky fyzických osôb{% endblock %}
{% block content %}
  <h1>Vedecko-pedagogické charakteristiky fyzických osôb</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Osoba</th>
        <th>Vyplnené</th>
        <th>Akcie</th>
      </tr>
    </thead>
    <tbody>
      {% for doc in documents %}
        <tr>
          {% if doc.url %}
          <td><a href="{{ doc.url }}">{{ doc.formatovane_meno }}</a></td>
          {% else %}
          <td>{{ doc.formatovane_meno }}</td>
          {% endif %}
          <td>{{ 'áno' if doc.spravne_vyplnene else 'nie'}}</td>
          <td><a href="{{ doc.edit_url }}" class="btn btn-xs btn-primary">Upraviť</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}